* {
    margin: 0;
    padding: 0;
}

body{
     background-image: linear-gradient(rgb(245, 5, 193),blue);
     height: 100vh;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;

}

#img{
    width: 3%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border-radius: 1px;
    border-color:rgb(241, 236, 236);
    margin-bottom: 1px;
    background-color:white;
    font-family: cursive;
    border-style: solid;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    flex-direction:column;
    height: 450px;
    width: 350px;
    color:rgb(29, 28, 28);

    
}
   form input{
    outline:none;
    border-color: rgb(223, 221, 222);
    border-style: solid;
    box-sizing: border-box;
    padding-left: 10px;
    width: 80%;
    height: 8%;

   }

   form button{
    border-radius: 10px;
    border-color:rgb(255, 255, 255);
    background: rgb(113, 158, 241);
    color: white;
    width: 80%;
    height: 8.5%;
   }
   a{
    text-decoration: none;
   }

